:root {
    --primary-color: #1974e4;
    --secondary-color: #FAEDFC;
    --accent-color1: #E6E6E6;
    --accent-color2: #F2F2F2;
    --accent-color3: #F4F4F4;

    font-family: Outfit, "Humanst521 BT", roboto, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

#displayApp h1,
#displayApp span p {
    text-align: center;
}

.infoContainer {
    display: flex;
    margin-top: 30px;
    justify-content: center;

}


#displayApp .sec1 p,
#displayApp .sec2 p {
    padding: 8px;
    border-bottom: 1px solid lightgray;
}

#displayApp .sec1,
#displayApp .sec2 {
    border: 1px solid lightgray;
}


#displayApp .sec1 {
    background-color: var(--accent-color2);
}