/* smaller.css */

/* General Reset and Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; /* Replace with your chosen Google Font */
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    padding: 1rem;
}

/* Header Styling */
header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 1.2rem;
    background-color: #0044cc;
    background-size: cover;
    color: white;
    border-radius: 10px;
    margin: auto;
}

header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 2rem;
}

header span {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Navigation Styling */
nav {
    margin-top: 1rem;
}

nav ul {
    list-style: cross-fade(20%);
    display: flex;
    flex-direction: column ;
    gap: 0.5rem;
}

nav ul li {
    text-align: flex;
    flex-direction: column;
    text-box: none;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #0066ff;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    display: block;
}

nav ul li a:hover {
    background-color: #0044cc;
}

/* Main Content Styling */
main {
    margin-top: 2rem;
}

main h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

section {
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: rgb(121, 138, 235);
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(108, 161, 240, 0.1);
    
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

section p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    text-shadow: #cad3df;
    border-radius: 5px;
}

section :hover{
    background-color: rgb(242, 243, 247);
    text-transform: initial;
    animation-delay: 3ms;
    animation-name: initial;
}

section ul li{
    list-style-type: none;
    display: table-column;
    text-align: center;
    border-radius: 7px;
    margin-top: 15px;
}

section li{
     border-radius: 7px;
    display: table-column;
}

/* Footer Styling */
footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.9rem;
    color: #666;
}

footer p {
    margin: 0.5rem 0;

}

/* Media query for small screens */
@media (max-width: 600px) {
  nav ul {
      flex-direction: column;
  }
}