*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #E0E1E3;
    --secondary-color: #0e103d;
    --accent-color1: #767892;
}

body {
    font-family: "Gill Sans MT", Raleway, Quicksand, "Humanst521 BT", sans-serif;
    background-color: var(--primary-color);
    font-size: 15px;
}

main {
    padding: 15px;
}





#menu {
    font-size: 26px;
    line-height: 100px;
    padding-right: 10px;
    cursor: pointer;
    /* transition: 50s ease-in; */
}


.intro-container {
    width: 100%;
    height: 100px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.intro-container h1 {
    line-height: 70px;
    font-family: Raleway, sans-serif;
    font-size: 0.7rem;
    text-align: center;
}

.intro-container img {
    border-radius: 50%;
    padding: 5px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-top: 10px;
}


.nav-links {
    display: none;
    background-color: var(--secondary-color);
    width: 200px;
    height: 300px;
    text-align: center;
    padding-top: 17px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transition: 25s ease;
}

.nav-links a {
    display: flex;
    flex-direction: column;
    padding: 12px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.nav-links a:hover {
    color: var(--accent-color1);
}

/* .nav-links a:active {
    text-decoration: underline white 3px;
} */

.close-menu {
    font-size: 26px;
    color: white;
    position: relative;
    top: 0;
    left: -40%;
}



.tag-one {
    height: 350px;
    box-shadow: 2px 2px 5px var(--accent-color1), -2px -2px 5px var(--accent-color1);
    border-radius: 8px;
}

.tag-one h2 {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 15px;
    color: white;
    font-family: Raleway, sans-serif;
    border-radius: 7px 7px 0 0;
}

.tag-one .course-taken {
    font-size: .9rem;
    padding: 5px;
    padding-left: 15px;
    margin-top: 10px;
}

.tag-one ul {
    list-style-type: none;
}



.tag-two {
    text-align: center;
    height: 350px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px var(--accent-color1), -2px -2px 5px var(--accent-color1);
    border-radius: 9px;
}

.tag-two h2 {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 15px;
    font-family: Raleway, sans-serif;
    border-radius: 7px 7px 0 0;

}

.tag-two img {
    padding: 15px 0 3px 0;
    width: 140px;
    height: auto;
    margin-top: 16px;
}




.tag-three {
    box-shadow: 2px 2px 5px var(--accent-color1), -2px -2px 5px var(--accent-color1);
    margin-top: 12px;

}

.tag-three h2 {
    padding: 12px;
    color: white;
    background-color: var(--secondary-color);
    text-align: center;
    font-family: Raleway, sans-serif;
    border-radius: 7px 7px 0 0;

}

.btn-container {
    text-align: center;
}

.btn-container button {
    padding: 5px 12.2%;
    gap: 3px;
    margin: 10px 0;
    border-radius: 3px;
    background-color: black;
    color: white;
    border: none;
    font-family: "Gill Sans MT", sans-serif;
    cursor: pointer;

}

.btn-container button:hover {
    background-color: rgb(42, 39, 39);
}

.courses-container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 10px;
}

.courses-container span {
    padding: 10px;
    color: white;
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

.courses-container .incomplete {
    background-color: var(--accent-color1);
    color: black;
}

.total-credit {
    display: block;
    text-align: center;
    margin-top: 15px;
}


dialog {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}








.footer-nav {
    margin-top: 20px;
    background-color: var(--secondary-color);
    color: white;
    padding: 13px;
    font-family: Raleway, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}


.flag-name {
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: center;
    padding: 3px;
    align-items: center;
}

#currentYear,
.flag-name {
    font-size: 1rem;
    font-weight: 600;
}

.flag-name img {
    width: 50px;
    height: 30px;
}


#lastModified {
    font-weight: 600;
}